.hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;

    --content-mt: 20px;


    @media (min-width: $desktop_md) {
        --content-mt: 0px;
    }

    @media (min-width: $tablet) {
        width: 100vw;
        flex-direction: row;
        align-items: center;
    }

    .hero-logo-container {
        height: 90px;
        width: 90px;
        margin-bottom: 5px;

        @media (min-width: $tablet) {
            margin-bottom: 0px;
            height: 110px;
            width: 110px;
            margin-bottom: 100px;
            margin-right: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: var(--content-mt);
        }

        @media (min-width: $desktop_md) {
            height: 120px;
            width: 120px;
            margin-bottom: 130px;
        }


        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    .hero-content {

        @media (min-width: $tablet) {
            margin-top: var(--content-mt);
            margin-right: 20vw;
        }

        @media (min-width: $desktop_md) {
            margin-right: 10vw;
        }

        .hero-text-container {
            position: relative;
            margin-bottom: 55px;

            @media (min-width: $tablet) {
                margin-bottom: 35px;
            }

            @media (min-width: $desktop_md) {
                margin-bottom: 45px;
            }

            --calcheigh: 7px;

            @media (min-width: $tablet) {
                --calcheigh: 32px;
            }

            @media (min-width: $desktop_md) {
                --calcheigh: 36px;
            }

            h1 {
                color: $white_text;
                font-size: 40px;
                font-family: $font-sans;
                line-height: 1.1;
                font-weight: $font-extrabold;
                letter-spacing: 1px;

                &::before {
                    content: '';
                    position: absolute;
                    height: 500px;
                    background: $white_text;
                    width: 2px;
                    top: -450px;
                    left: -20px;
                    animation: lineanimationother 1s ease 200ms;
                    animation-fill-mode: backwards;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: -20px;
                    top: 5px;
                    width: 6px;
                    height: calc(100% - var(--calcheigh));
                    animation: lineanimation 1s ease 700ms;
                    animation-fill-mode: backwards;
                    background: $white_text;
                }

                @media (min-width: $mobile_xs) {
                    font-size: 45px;
                }

                @media (min-width: $mobile_lg) {
                    font-size: 100px;
                }

                @media (min-width: $tablet) {
                    font-size: 90px;
                    height: fit-content;
                    position: relative;

                    &::before {
                        top: -400px;
                        left: -50px;
                    }

                    &::after {
                        left: -50px;
                        top: 20px;
                        width: 8px;
                        height: calc(100% - var(--calcheigh));
                    }
                }

                @media (min-width: $desktop_md) {
                    font-size: 100px;
                }


            }
        }

        .hero-buttons-container {
            max-width: 200px;


            @media (min-width: $tablet) {
                max-width: none;

                a {
                    margin-bottom: 0px;
                    margin-right: 25px;

                    @media (min-width: $tablet) {
                        margin-right: 15px;
                        padding: 16px 18px;
                        font-size: 12px;
                        width: 180px;
                    }

                    @media (min-width: $desktop_md) {
                        margin-right: 25px;
                        padding: 18px 18px;
                        font-size: 14px;
                        width: 200px;
                    }

                    &::last-of-type {
                        margin-right: 0px;
                    }
                }
            }

            a {
                margin-bottom: 25px;

                &::last-of-type {
                    margin-bottom: 0px;
                }
            }
        }
    }
}


@keyframes lineanimation {
    from {
        height: 0;
    }

    to {
        height: calc(100% - var(-calcheigh));
    }
}

@keyframes lineanimationother {
    from {
        height: 0;
    }

    to {
        height: 500px;
    }
}