@keyframes itemsanimation {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes noopanimation {
    from {
        transform: translateY(150px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes arrowanimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

html {
    --translate-pos: 10px;
    --translate-neg: -12px;

    @media (max-width: $mobile_xs) {
        --translate-pos: 2px;
        --translate-neg: -4px;
    }

    @media (min-width: $mobile_xs) and (max-width: $mobile_lg) {
        --translate-pos: 4px;
        --translate-neg: -10px;
    }
}


@keyframes itanimation {

    0% {
        transform: translateY(0);
    }

    33% {
        transform: translateY(var(--translate-pos));
    }


    66% {
        transform: translateY(var(--translate-neg));
    }


    
    100% {
        transform: translateY(0);
    }
}


@keyframes agujaanimation {
    0% {
        transform: skew(0deg, 0deg) translateX(0px);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: skew(-60deg, 0deg) translateX(145px);
    }
}

@keyframes svgsanimation {

    from {
        transform: scale(0) translate(-50%, -50%);
        opacity: 0;
    }

    to {
        transform: scale(1) translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes svglineanimation {
    0% {
        transform: scaleY(0) translateY(-40px);
    }

    100% {
        transform: scaleY(1) translateY(0px);
    }
}


@keyframes svgcircleanimation {

    0% {
        stroke-dasharray: 300px;
        stroke-dashoffset: 300px;
        // transform: rotate(0deg);
    }

    50% {
        // transform: rotate(45deg);
    }

    100% {
        stroke-dasharray: 300px;
        stroke-dashoffset: 0px;
        // transform: rotate(0deg);
    }
}


@keyframes svgborderanimation {

    0% {
        stroke-dasharray: 900px;
        stroke-dashoffset: 900px;
    }


    100% {
        stroke-dasharray: 900px;
        stroke-dashoffset: 0px;
    }
}


html {
    --translate-ring-pos: 10px;
    --translate-ring-neg: -10px;

    @media (max-width: $mobile_lg) {
        --translate-ring-pos: 3px;
        --translate-ring-neg: -3px;
    }
}


@keyframes ringsvg1 {
    0% {
        transform: translateY(-5px) rotate(-125deg);
    }

    100% {
        transform: translateY(10px) rotate(-125deg);
    }
}

@keyframes ringsvg2 {
    0% {
        transform: translateY(calc(var(--translate-ring-neg) * 2));
    }

    100% {
        transform: translateY(calc(var(--translate-ring-pos) * 3));
    }
}

@keyframes ringsvg3 {
    0% {
        transform: translateY(calc(var(--translate-ring-neg) * 1));
    }

    100% {
        transform: translateY(calc(var(--translate-ring-pos) * 2));
    }
}