.casos-info-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height $transition_time ease;

    &.active {
        max-height: 500px;
    }

    .casos-info-content {
        padding: 20px;
        border: 1px solid $color_grey_light;
        background: $colors_main_bg;

        h5 {
            text-transform: uppercase;
            color: $color_wine_dark;
            font-size: 16px;
            margin-bottom: 20px;
        }

        p {
            font-size: 12px;
            margin-bottom: 20px;
        }

        span {
            background: $color_wine_dark;
            color: $white_text;
            padding: 2px 5px;
            display: inline-block;
            margin-bottom: 20px;
        }

        .bullet-item-container {
            display: flex;
            align-items: flex-start;

            img {
                transform: translateY(3px);
                margin-right: 20px;
            }

            p {
                color: $color_grey;
            }
        }
    }
}